.App {
  text-align: center;
  display: flex;
}

.left_col {
  width: 50%;
  padding: 40px;
}

.right_col {
  width: 50%;
  padding: 40px;
}

.dropbox {
  height: 120px;
  border: 1px solid pink;
  border-radius: 5px;
  z-index: 20;
}
.overDropbox {
  background: pink;
}

.search {
  height: 500px;
}
.left_container {
  height: 100%;
}

.drop_text {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center_view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_input {
  width: 255px;
  height: 26px;
  font-size: inherit;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: left;
}
li {
  text-transform: capitalize;
}
